
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #3F51B5, #6372C3);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}


.reset-password-modal {
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}


.modal-content {
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}


.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.close-button:hover {
    color: #F44336;
}


.input-group {
    margin: 20px 0;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #3F51B5;
    outline: none;
}

.reset-button {
    background: linear-gradient(135deg, #3F51B5, #6372C3);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.reset-button:hover {
    transform: scale(1.05);
    background-color: #4A5DAA;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
