
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f8f9fa;
}



.admin-info {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 10px 0;
}

.nav-list a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.nav-list a:hover {
    background-color: #0056b3;
}


.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}


.content-section {
    display: none;
}


.content-section.active {
    display: block;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
