
#logInModal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}


.LogInformContainer {
    position: relative;
    background-color: #FAF9F6;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 500px;
    border-radius: 15px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}


.logInCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.logInCloseButton:hover {
    color: #f00;
}

.logInGrayLineTop {
    border-top: 1px solid rgba(160, 160, 160, 0.6); 
    width: 100%; 
    height: 0; 
}





.inputGroup {
    margin-bottom: 15px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 10px; 
}

.inputGroup label {
    display: block;
    font-size: 14px;
    color: #333;
    flex: 3; 
    text-align: left; 
}

.inputGroup input {
    flex: 4; 
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    max-width: 300px; 
}


.logInSignInButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.logInSignInButton:hover {
    background-color: #0056b3;
}


.logInforgotPassword {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.logInforgotPassword:hover {
    text-decoration: underline;
}

.logInGrayLineBottomWithOr {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0; 
}

.logInGrayLineBottomWithOr::before,
.logInGrayLineBottomWithOr::after {
    content: '';
    flex: 1; 
    height: 1px;
    background-color: rgba(160, 160, 160, 0.6);
}

.logInGrayLineBottomWithOr span {
    margin: 0 10px;
    font-size: 14px;
    color: rgba(160, 160, 160, 0.6);
}


.signUpSection {
    margin-top: -17px;
    text-align: center;
}

.signUpSection p {
    font-size: 14px;
    color: #777;
}

.logInGetStartedButton{
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logInGetStartedButton:hover {
    background-color: #218838;
}

.logInoverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .logInoverlay:target {
    display: flex;
  }

  